<div class="skills">
	<div class="container-fluid main-heading">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Full stack &lt;/<span>dev</span>&gt;eloper</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid this-is-me">
		<div class="row">
			<div class="col-xs-12 text-center">
				<img src="public/img/selfies.png" class="selfie">
				<h3>Hello!</h3>
				<p>I’m Staffan Selander. A full stack developer in the web!<br>
				Writing code, developing new designs, backend or frontend <br>
				at the office or in the shower<br>
				<br>
				That is what i do!<br>
				<br>
				<i>staffan.selander.li@gmail.com</i>

				</p>
			</div>
		</div>
	</div>
	<div class="footer">More information coming soon!</div>
</div>