.navigation-wrapper {
	margin-top: 20px;
	width: 100%;
	h1 {
		color: #fff;
		font-weight: 400;
		font-size: 24px;
		float: left;
		line-height: 21px;
	}
	.navigation-blob-wrapper {
		float: right;
		margin-top: 3px;
		cursor: pointer;
		border-radius: 50%;
		position: relative;
		.navigation-blob {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			border: 1px solid white;
			position: relative;
			transition: transform .3s;
			span {
				width: 19px;
				height: 2px;
				background: #fff;
				display: block;
				position: absolute;
				top: 27px;
				border-radius: 2px;
				left: 19px;

				&:nth-of-type(1) {
					top: 22px;
				}

				&:nth-of-type(3) {
					top: 33px;
				}
			}
		}
		&.active {
			.navigation-blob {
				transform: scale(.8, .8);
			}
			.icons-wrapper {
				> a {
					pointer-events: initial;
					left: -60px;
					opacity: 1;
					&:nth-of-type(2) {
						left: -45px;
						bottom: -45px;
					}
					&:nth-of-type(3) {
						bottom: -60px;
					}
				}
			}
		}

		.icons-wrapper {
			> a {
				opacity: 0;
				display: block;
				position: absolute;
				top: 8px;
				left: -25px;
				width: 45px;
				height: 45px;
				line-height: 16px;
				background: rgba(255,255,255,.2);
				border-radius: 50%;
				pointer-events: none;
				transition: top .3s, bottom .3s, left .3s, right .3s, background .3s, opacity .3s;
				> i {
					position: absolute;
					font-size: 16px;
					top: 50%;
					left: 50%;
					display: block;
					color: #fff;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
				&:nth-of-type(2) {
					top: initial;
					left: initial;
					bottom: -25px;
					left: -25px;
				}
				&:nth-of-type(3) {
					top: initial;
					left: initial;
					bottom: -25px;
					left: 7px;
				}
				&:hover {
					background: rgba(255,255,255,.3);
				}
				> img {
					width: 100%;
				}
			}
		}
	}
}

.posts .navigation-wrapper .navigation-blob-wrapper .icons-wrapper > a:nth-of-type(2) {
	bottom: 8px;
	left: -25px;
}

.posts .navigation-wrapper .navigation-blob-wrapper .icons-wrapper > a:nth-of-type(3) {
	bottom: 8px;
	left: -25px;
}

.posts .navigation-wrapper .navigation-blob-wrapper.active .icons-wrapper > a:nth-of-type(2) {
	bottom: 8px;
	left: -125px;
}

.posts .navigation-wrapper .navigation-blob-wrapper.active .icons-wrapper > a:nth-of-type(3) {
	bottom: 8px;
	left: -190px;
}